*,html{
  box-sizing: border-box;
}
body{
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1080px 1fr;
}

header{
  background-color: #06D6A0;
  grid-column: 1/4;
}

main{
  max-width: 1080px;
  grid-column: 2/3;

}

p{
  font-size: 20px;
}

nav, h1{
  display: inline-block;
}

nav>ul>li{
  list-style-type: none;
  display: inline-block;
}

img{
  width: 60%;
  border: 1px solid black;
}
 .section1>h2{
   display: inline-block;
   margin: auto;
   color: white;
 }

 .section1{
   background-color: #26547C;
 }

 .section2{
   background-color: #FFD166;
   padding: 10px;
   margin: 0px;
 }

 .section3{
   background-color: #F2F2F2;
   padding: 10px;
   margin: 0px;
 }
 .section3>.gifs{
   display: grid;
   grid-template-columns: repeat(3,1fr);
 }

 .gifs>.boxes{
   background-color: black;
   margin: 10px;
 }
 .gifs>.boxes>img{
   height: 100%;
   width: 100%;
 }

 .section4{
   background-color: #26547C;
   padding: 10px;
   margin: 0px;
 }
 .section4>.headers{
   display: grid;
   grid-template-columns: repeat(3,1fr);
 }
 .section4>p{
   color: white;
 }
 .section4>.headers>h3{
   display: inline-block;
   text-align: center;
   color: #EF476F;

 }

 footer{
   background-color: #06D6A0;
   padding: 10px;
   margin: 0px;
   grid-column: 1/4;
 }

 .boxes{
   border: 1px solid black;
 }
